{% extends "base.html" %}
{% block title %}Find Friends{% endblock %}

{% block content %}
<!-- write the html code for the page here -->
<style>
    .match-bio{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
</style>


{% for people in range(5) %}
<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.unmc.edu/cihc/_images/faculty/default.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <br>
          <h5 class="card-title">name</h5>
          <p class="card-text">Their interests, Their interests, Their interests, Their interests, Their interests</p>
        </div>
      </div>
      <p class="card-text match-bio"> this is a bio this is a bio this is a bio this is a bio this is a bio this is a bio this is a bio this is a bio this is a bio</p>
      <a class="btn btn-primary" href="#" role="button">Send Friend Request</a>
    </div> 
    
    </div>
    <br><br><br><br>
{% endfor %}



{% endblock %}