{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{session['user']}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{session['userIterests']}}</h6>
          <p class="card-text">{{session['bio']}}</p>
          <a class="btn btn-primary" href="../templates/userSettings.html" role="button">Edit</a>
        </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header">Friends</h4>
        <div class="card-body">
          <p class="card-text">Talk to your friends!</p>

          <div class="list-group">
                <div href="#" class="list-group-item list-group-item-action ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Navid</h5>
                    <!-- <small>3 days ago</small> -->
                </div>
                <p class="mb-1"></p>
                <small>music, technology</small>
                <p class="card-text">This is a computer science student that is interested in ML. I do like spending time with friends who have the same interests and work wiht them.</p>
                <p class="card-text">My SnapChat: </p>
                <p class="card-text">My Instagram: </p>
                <p class="card-text">My Discord: </p>
              </div>




              <div href="#" class="list-group-item list-group-item-action ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nicole</h5>
                    <!-- <small>3 days ago</small> -->
                </div>
                <p class="mb-1"></p>
                <small>art, technology</small>
                <p class="card-text">Hi! I'm Nicole, and I like art, cookies, and a warm cup of tea. </p>
                <p class="card-text">My SnapChat: </p>
                <p class="card-text">My Instagram: </p>
                <p class="card-text">My Discord: </p>
              </div>





              <div href="#" class="list-group-item list-group-item-action ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Navid</h5>
                    <!-- <small>3 days ago</small> -->
                </div>
                <p class="mb-1"></p>
                <small>technology, cooking, traveling</small>
                <p class="card-text">TThis is Mumtaz! I like learning new things especially about technology.</p>
                <p class="card-text">My SnapChat: </p>
                <p class="card-text">My Instagram: </p>
                <p class="card-text">My Discord: </p>
              </div>

          </div>


          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header">Matches</h4>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Here are some potential friends you've matched with!</p>


            <div class="list-group">
                    <div href="#" class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Kezia O'Ryan</h5>
                        <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1"></p>
                    <small>sports, art, technology</small>
                    <p class="card-text">Hi! I love all things computer science</p>
                    <a class="btn btn-primary" href="#" role="button">Send Friend Request</a>
                    </div>


                    <div href="#" class="list-group-item list-group-item-action ">
                      <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Lemar Donnelly</h5>
                          <!-- <small>3 days ago</small> -->
                      </div>
                      <p class="mb-1"></p>
                      <small>art, music</small>
                      <p class="card-text">I think dogs are neat!</p>
                      <a class="btn btn-primary" href="#" role="button">Send Friend Request</a>
                      </div>


                      <div href="#" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Sumaya Preece</h5>
                            <!-- <small>3 days ago</small> -->
                        </div>
                        <p class="mb-1"></p>
                        <small>traveling</small>
                        <p class="card-text">I love to travel across the world</p>
                        <a class="btn btn-primary" href="#" role="button">Send Friend Request</a>
                        </div>

              </div>


            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}