<!DOCTYPE HTML>
<html>
    <head>
        <title>Dashboard</title>
        <style>
            .menu{
                height: 200px;
                width: 800px;
                background: #401F5B;
                /* color: #F3F1F5; */
                margin:0;
            }
        </style>
        <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
    </head>
    <body>
        <p>This is the home page</p>
        <div align = "center" float="top">
            <div class = "menu">
                <p>hello</p>
            </div>
        </div>
        
    </body>
</html>