<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Interests</title>
        <style>
            body{
                background: #401F5B;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .btn-primary{
                background-color: #401F5B;
                margin-bottom: 10px;
            }

            .card{
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
                <h5 class="card-title">Welcome {{session['user']}}</h5>
                
                <br>
                <h6 class="card-subtitle mb-2 text-muted">Answer the following questions to let us know more about you!<br>This information will be used to help match you with people with similar interests.</h6>
                
                <br>
                <form action = "#" method = "post">
                    <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Please enter your current age (bewteen 0 and 99):
                                </label>
                            <input type="number" id="age" name="age" min="0" max="99">
                        
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="radio" name="ageRange" id="child">
                            <label class="form-check-label" for="flexRadioDefault1">
                            under 18
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ageRange" id="youngAdult">
                            <label class="form-check-label" for="flexRadioDefault1">
                              18-25
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ageRange" id="adult1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              26-35
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ageRange" id="adult2">
                            <label class="form-check-label" for="flexRadioDefault1">
                              36-45
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ageRange" id="adult3">
                            <label class="form-check-label" for="flexRadioDefault1">
                              46+
                            </label>
                        </div> -->
                    </div>


                    <br>

                    <div class="form-check">
                        <p>Select Your Interests:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="sports" name="interests" id="sports">
                            <label class="form-check-label" for="flexCheckDefault">
                            Sports
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="art" name="interests" id="art">
                            <label class="form-check-label" for="flexCheckDefault">
                            Art
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="music" name="interests" id="music">
                            <label class="form-check-label" for="flexCheckDefault">
                            Music
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="dance" name="interests" id="dance">
                            <label class="form-check-label" for="flexCheckDefault">
                            Dance
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="technology" name="interests" id="technology">
                            <label class="form-check-label" for="flexCheckDefault">
                            Technology
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="cooking" name="interests" id="cooking">
                            <label class="form-check-label" for="flexCheckDefault">
                            Cooking
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="travel" name="interests" id="travel">
                            <label class="form-check-label" for="flexCheckDefault">
                            Travel
                            </label>
                        </div>
                    </div>


                    <br><br>


                    <div class="form-check">
                        <p>Write a bio so that people can get to know you:</p>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="biography" name="biography" maxlength = "8000" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Biography</label>
                          </div>
                        </div>
                    

                    <br><br>

                    <div class="form-check">
                        <p>Enter the usernames of ways you would like to be contacted</p>

                        <div class="form-floating">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">SnapChat</label>
                                <input type="text" id="snapchatUsername" name="snapchatUsername"  value=""><br>
                            </div>
                        </div>



                        <div class="form-floating">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Instagram</label>
                                <input type="text" id="instagramUsername" name="instagramUsername"  value=""><br>
                            </div>
                        </div>



                        <div class="form-floating">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Discord</label>
                                <input type="text" id="discordUsername" name="discordUsername"  value=""><br>
                            </div>
                        </div>



                        


                    </div>


                    <br><br>
                    <p><input type="submit" value="submit" class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x"/></p>


                </form>
            </div>
          </div>
    </body>
</html>